body {
  background-color: black; color: greenyellow; border: 8px gold; border-style: ridge;}

header {
  font-size: x-large; text-align: center; margin: auto; padding: 20px;
}

p {
  border: 10px gold; margin: 30px; padding: 10px;
}

div {
  text-align: center; 
}

li {display: inline;padding: 10px;}