body {
  background-color: rgb(14, 13, 13); color: rgb(241, 241, 245); }

header {
  background-color: darkcyan;
  font-size: x-large;
   text-align: center; 
   margin: 30px; padding: 20px; 
   border: 8px lightblue; 
   border-style: ridge;
}

h3 {
  padding: 10px;
}

p {
  background-color: darkcyan;
  margin: 30px; 
  padding: 10px; 
  border: 8px lightblue; 
  border-style: ridge;
}

ul> li{
  background-color: darkcyan;
  list-style: inside;
  padding: 15px;
  margin-left: 50px;
  margin-right: 50px;
  border: 8px lightblue; 
  border-style: ridge;
}

ol> li {
  background-color: darkcyan;
  list-style: inside upper-roman; 
  padding: 15px;
  margin-left: 50px;
  margin-right: 50px;
  border: 8px lightblue; 
  border-style: ridge;
}

 section {
  float: left;
  width: 600px;
  box-sizing: border-box;
 }

 



