body {
  background-color: black; color: rgb(0, 223, 0); border: 8px gold; border-style: ridge;}

header {
  font-size: x-large; text-align: center; margin: auto; padding: 20px;
}

p {
  border: 10px gold; margin: 30px; padding: 10px;
}

ul>li {
  list-style: outside;
  padding: 15px;
  margin-left: 50px;
}

ol>li {
  list-style: outside upper-roman; 
  padding: 15px;
  margin-left: 50px;
}

li::before {
  color: gold;
}

h3 {padding: 10px;}

div {margin-left: auto; margin-right: auto;}